.Account .account-details {
    display: flex;
    padding: 10% 3% 0 3%;
    position: relative;
}

.Account .account-details > * {
    margin-right: 10%
}

.Account .account-details > * > * {
    margin-block: 1rem;
}

.Account .details {
    display: flex;
    /* border: 1px solid  */
}

.Account .details > * {
    display: flex;
    flex-direction: column;
    /* border: 1px solid red; */
    margin-inline: 1rem
}

.Account .details > * > * {
    /* border: 1px solid rgb(60, 255, 0); */
    margin-block: 0.4rem
}

.Account .details input, .Account .change-details input, .Account .delete-account input {
    width: 32vmin;
    padding: 0.1rem;
    border: none;
    border-bottom: 1px solid rgba(0, 0, 0, 0.418);
}

.Account .details input:focus, .Account .change-details input:focus, .Account .delete-account input:focus {
    outline: none;
}

.Account .wishlist {
    display: flex;
    flex-wrap: wrap;
    /* border: 1px solid; */
    width: 100%;
}

.Account .wishlist > *{
    width: 20%;
    /* border: 1px solid; */
    margin-right: 2rem;
    margin-block: 1rem;
}

.Account .wishlist img {
    max-width: 100%;
    background-color: rgb(240, 240, 240);
    padding: 1rem;
}

.Account .right-side {
    /* border: 1px solid red; */
    width: 100%
}

.Account .account-details .left-side {
    width: 20%;
}

.Account .change-details {
    display: flex;
}

.Account .change-details > * {
    display: flex;
    flex-direction: column;
    margin-right: 1rem;
    /* border: 1px solid */
}

.Account .change-details > * > *{
    margin-block: 1rem;
}

.Account .change-button {
    margin: 0 auto;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    margin-top: 1rem;
}

.Account .delete-account > * {
    margin-block: 1rem;
}

.Account .delete-account > * > *{
    margin-right: 1rem;
}

.Account .delete-account button {
    display: block;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}

.Account .remove-item, .Account label, .Account .account-details .left-side > * {
    cursor: pointer;
}

.Account .delete-account {
    position: relative;
    width: 50%;
}

@media (max-width: 768px) {

    .Account .delete-account {
        width: 100%;
        padding-left: 1rem;
    }

    
    .Account .delete-account button {
        background-color: rgb(0, 0, 0);
        color: white;
    }

    .Account .wishlist {
        flex-direction: column;
    }

    .Account .wishlist > * {
        width: 100%;
    }

    .Account .wishlist > * > * > *{
        width: 100%;
    }

    .Account .account-details {
        padding-top: 20%;
        margin-left: 1.5rem;
    }

    .Account .account-details .left-side {
        width: 30%;
        position: fixed;
        height: 100vh;
        top: 0;
        left: 0;
        padding: 5rem 1rem 0 1rem;
        background-color: rgb(255, 255, 255);
        z-index: 5;
    }

    .Account .Account-category {
        position: absolute;
        margin-top: 25%;
        padding: 0.7em;
        background-color: black;
        color: white;
    }
}

@media (min-width: 769px) and (max-width: 995px) {

    .Account .wishlist > * {
        width: 40%;
    }

    .Account .wishlist > * > * > *{
        width: 100%;
    }

    .Account .account-details .left-side {
        width: 25%;
    }
}